# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore Libraries folder
libraries/ckeditor/
libraries/ckeditor/*
libraries/colorbox/
libraries/colorbox/*
libraries/flexslider/
libraries/flexslider/*

# Ignore Temporary folder
.tmp/
.tmp/*
