# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore Libraries folder
profiles/adfl/libraries/ckeditor
profiles/adfl/libraries/colorbox
profiles/adfl/libraries/flexslider


# Ignore Temporary folder
.tmp/
.tmp/*
